.error__button {
  color: var(--danger-text);
    background: var(--danger);
    border-color: var(--danger);
}

.button.error__button:hover {
  color: var(--danger-text);
    background: var(--danger-hover);
    border-color: var(--danger-hover);
}

.button.error__button:active {
  color: var(--danger-text);
    background: var(--danger-active);
    border-color: var(--danger-active);
}