.header {
  padding: 40px 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main:has(.error-container) {
  height: calc(100vh - 112px);
}
